{{ attach_library( theme ~ '/drupalkorea-member' ) }}
{% set member = data.member %}
{% import dir_macro ~ '/html.html.twig' as html %}
<form class='member-register-form member-form'>
    <fieldset>
        <input type="hidden" name="mode" value="submit">       			
			{% if member %}
				{{ html.row({ 'class':'username update', 'value':member.name.value, 'label':'회원 아이디'}) }}
			{% else %}
				{{ html.input({'type':'text','name':'username', 'id':'register-username', 'class':'username', 'value':'', 'label':'회원 아이디', 'placeholder':'아이디를 입력하십시오.'}) }}
				{{ html.input({'type':'password','name':'password', 'id':'register-password', 'class':'password', 'value':'', 'label':'비밀번호', 'placeholder':'비밀번호를 입력하세요.'}) }}
				{{ html.input({'type':'password','name':'confirm_password', 'id':'register-confirm_password', 'class':'confirm_password', 'value':'', 'label':'비밀번호 확인', 'placeholder':'비밀번호는 한번 더 입력하세요'}) }}
			{% endif %} 
			
			{{ html.input({'type':'text','name':'full_name', 'id':'register-full_name', 'class':'full_name', 'value':member.extra.full_name, 'label':'이름', 'placeholder':'이름을 입력하세요.'}) }}
			{{ html.input({'type':'email','name':'mail', 'id':'register-email', 'class':'email', 'value':member.mail.value, 'label':'이메일', 'placeholder':'메일 주소를 입력하세요.'}) }}
			
			{{ html.input({'type':'text','name':'mobile', 'id':'register-mobile', 'class':'mobile', 'value':member.extra.mobile, 'label':'전화번호', 'placeholder':'전화번호를 입력하세요.'}) }}
			<div class='row data-set birth-date'>
				<label class='caption'>생년월일</label>
				<div class='text clearfix'>
					{{ html.select_month({'name':'month', 'label':'', 'default': member.extra.month }) }}
					{{ html.select_number({'name':'day', 'from':1, 'to':31, 'label':'', 'default':member.extra.day}) }}
					{{ html.select_number({'name':'year', 'from':2008, 'to':1950, 'label':'', 'default':member.extra.year}) }}
				</div>
			</div>

			{{
				html.radio('gender', '성별', [
			{'id':'generM', 'label': '남', 'value': 'M', 'default': member.extra.gender },
			{'id':'generF', 'label': '여', 'value': 'F', 'default': member.extra.gender }
				])
			}}

			
			{% if member %}
				{% set submit_text = "업데이트 등록" %}
			{% else %}
				{% set submit_text = "회원가입 등록" %}
			{% endif %}
			
			<div class='buttons clearfix'>
				<input type="submit" role="button" value="{{ submit_text }}">
				<a class='cancel' href="/" role="button">취소</a>
			</div>
    </fieldset>
</form>