<div class="menu">
    <table cellpadding='0' cellspacing='0' width='100%' background="/themes/mall_philgo/img/mm_back_2.gif">
        <tr class='caption' height='38' valign='top'>
            <td width='10' height='38' style='width:10px;overflow:hidden;' height='38' background="/themes/mall_philgo/img/mm_left_2.gif"><div style='width:10px;'></div></td>
            <td width='99%' nowrap>
                <div class="items">
                    <a href="/mall/item/add"><span class="mall-item-add">{{ ko ? '+ 상품등록' : '+ POST Your Item' }}</span></a>
                    <a href="#"><span>{{ ko ? '스마트폰' : 'SmartPhone' }}</span></a>
                    <a href="#"><span>{{ ko ? '컴퓨터' : 'Computer' }}</span></a>
                    <a href="#"><span>{{ ko ? '의류' : 'Clothes' }}</span></a>
                    <a href="#"><span>{{ ko ? '뷰티/화장품' : 'Beauty/Cosmetic' }}</span></a>
                    <a href="#"><span>{{ ko ? '가전제품' : 'Appliances' }}</span></a>
                    <a href="#"><span>{{ ko ? '가구' : 'Furniture' }}</span></a>
                    <a href="#"><span>{{ ko ? '자동차' : 'Cars' }}</span></a>
                    <a href="#"><span>{{ ko ? '망고' : 'Mango' }}</span></a>
                    <a href="/post/job"><span>{{ ko ? '구인구직' : 'Jobs' }}</span></a>
                </div>
            </td>
            <td width='10' style='width:10px;overflow:hidden;' height='38' background="/themes/mall_philgo/img/mm_right_2.gif"><div style='width:10px;'> </div></td>
        </tr>
    </table>
</div>