<nav class="top">
    <div class="left">
        <a href="http://www.philgo.com" target="_blank">{{ language == 'ko' ? '필고 홈' : 'PhilGo' }}</a>
        <span class="dot">•</span>
        {% if logged_in %}
            <a href="/user/logout">{{ language == 'ko' ? '로그아웃' : 'Logout' }}</a>
        {% else %}
            <a href="/member/login">{{ language == 'ko' ? '로그인' : 'Login' }}</a>
        {% endif %}
        <span class="dot">•</span>

        {% if logged_in %}
            <a href="/member/update">{{ language == 'ko' ? '정보변경' : 'Account Update' }}</a>
        {% else %}
            <a href="/member/register">{{ language == 'ko' ? '회원가입' : 'Register' }}</a>
        {% endif %}

        <span class="dot">•</span>
        <a href="/post/discussion">{{ language == 'ko' ? '자유토론' : 'Discussion' }}</a>
        <span class="dot">•</span>
        <a href="/post/job">{{ language == 'ko' ? '구인구직' : 'Jobs' }}</a>
    </div>
    <div class="right">
        <a href="https://www.philgo.com/?ad.intro" target="_blank">{{ language == 'ko' ? '광고문의' : 'Advertisement' }}</a>
        <span class="dot">•</span>
        <a href="https://www.philgo.com/?module=post&action=write&post_id=request_to_manager&option=request" target="_blank">{{ language == 'ko' ? '운영자 요청/문의' : 'Inquery' }}</a>
        <span class="dot">•</span>
        <a href="#">070-7529-1749</a>
    </div>
</nav>
