<div class="content">
    <div class="left">
        <a href="#"><img src="/{{ dir_sub_theme }}/img/left_banner.gif"></a>
    </div>
    <div class="center">
        <a href="/"><img src="{{ url_sub_theme }}/img/logo.png"></a>
        <form class="search">
            <table cellpadding="0" cellspacing="0" width="100%">
                <tr valign="top">
                    <td width="99%"><input type="text" name="key" placeholder="{{ text.search_item }}"></td>
                    <td width="40"><input type="image" src="{{ url_sub_theme }}/img/search.png"></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="right">
		<div class='wrapper'>
			<div class='photo'><img src='/{{ dir_sub_theme }}/img/question_mark.png'/></div>
			<a href='#'>How to sell My Items?</a>
		</div>
		<div class='wrapper'>
			<div class='photo'><img src='/{{ dir_sub_theme }}/img/question_mark.png'/></div>
			<a href='#'>How to buy Items?</a>
		</div>
		<div class='wrapper'>
			<div class='photo'><img src='/{{ dir_sub_theme }}/img/question_mark.png'/></div>
			<a href='#'>How to complain?</a>
		</div>
    </div>
</div>
