<div class='top'>
	<div class='inner'>
		<table class='menu-table' width="100%" cellpadding="0" cellspacing="0">
			<tr>
				<td class="logo">
					<a href="/">
						<div class="item">
							{% if "sonub" in domain %}
								<img src="{{ url_sub_theme }}/img/white_logo_sonub.png">
							{% elseif "philgo" in domain %}
								<img src="{{ url_sub_theme }}/img/white_logo_philgo.png">
							{% endif %}							
						</div>
					</a>
				</td>

				<td class="market">
					<a href="/">
						<div class="item">
							<div class="sprite"></div>
							<div class="text">
								<script>ln('Market,쇼핑몰');</script>
							</div>
						</div>
					</a>
				</td>



				<td class="ask">
					<a href="/post/ask">
						<div class="item">
							<div class="sprite"></div>
							<div class="text">
								<script>ln('Ask,질문답변');</script>
							</div>
						</div>
					</a>
				</td>


				<td class="discussion">
					<a href="/post/discussion">
						<div class="item">
							<div class="sprite"></div>
							<div class="text">
                                <script>ln('Discussion,자유토론');</script>
							</div>
						</div>
					</a>
				</td>



				<td class="fhm">
					<a href="/post/fhm">
						<div class="item">
							<div class="sprite"></div>
							<div class="text">
                                <script>ln('FHM,매거진');</script>
							</div>
						</div>
					</a>
				</td>

				<td class="news">
					<a href="/post/news">
						<div class="item">
							<div class="sprite"></div>
							<div class="text">
                                <script>ln('News,뉴스');</script>
							</div>
						</div>
					</a>
				</td>

				<td class="music">
					<a href="/post/music">
						<div class="item">
							<div class="sprite"></div>
							<div class="text">
                                <script>ln('Music,음악');</script>
							</div>
						</div>
					</a>
				</td>

				<td class="job">
					<a href="/post/jobs">
						<div class="item">
							<div class="sprite"></div>
							<div class="text">
                                <script>ln('Jobs,구인구직');</script>
							</div>
						</div>
					</a>
				</td>
				
				<td class="greeting">
					<a href="/post/greeting">
						<div class="item greeting">
							<div class="sprite"></div>
							<div class="text">
                                <script>ln('Greetings,Greetings');</script>
							</div>
						</div>
					</a>
				</td>
				{% if logged_in %}
				<td class="message">					
					<a href="/message/list">
						<div class="item message">
							<div class="sprite">
								{% if data.user_unread_messages %}
									<div class='unread_messages'>
										{{ data.user_unread_messages }}
									</div>
								{% endif %}
							</div>
							<div class="text">
                                <script>ln('Message,Message');</script>
							</div>
						</div>
					</a>
				</td>
				{% endif %}
				<td class="login">
					{% if logged_in %}
						<a href="/member/view/{{ data.member.name.value }}">
							<div class="item user page">
								<div class="sprite">
									{# data.member.photo.thumbnails['url_medium'] #}
									{% if data.member.photo %}
										<img src="{{ data.member.photo.thumbnails['url_medium'] }}">
									{% else %}
										
									{% endif %}
								</div>
								<div class="text">
                                    <script>ln('My Page,개인정보');</script>
								</div>
							</div>
						</a>
					{% else %}
                    <a href="/member/login">
							<div class="item user signin">
								<div class="sprite"></div>
								<div class="text">
                                    <script>ln('Sign in,로그인');</script>
								</div>
							</div>
                        </a>
					{% endif %}
				</td>
				<td class='more'>
					<div class="item more">
						<div class="sprite"></div>
						<div class="text">
                            <script>ln('More,메뉴');</script>
						</div>
					</div>
				</td>
			</tr>
		</table>
		
		
		<nav class="menu" style="display: none;">
		<ul>
			<li>
				{% if logged_in %}
					<a href="/member/view/{{ data.member.name.value }}"><script>ln('My Page,개인정보');</script></a>
					<a href="/member/update"><script>ln('My Account,My Account');</script></a>
				{% else %}
					<a href='/member/login' class="login"><script>ln('Sign in,로그인');</script></a>
				{% endif %}
			</li>
			<li>

				{% if logged_in %}
					<a href="/user/logout"><script>ln('Sign Out,로그아웃');</script></a>
				{% else %}
					<a href="/member/register"><script>ln('Register,회원가입');</script></a>
				{% endif %}

			</li>
			<li><a href="/"><script>ln('Market,쇼핑몰');</script></a></li>
			<li><a href="/mall/item/add"><script>ln('Seller Page,판매자 페이지');</script></a></li>

			<li><a href="/post/ask"><script>ln('Ask,회원가입');</script></a></li>
			<li><a href="/post/knowledge"><script>ln('Knowledge,지식인');</script></a></li>
			<li><a href="/post/discussion"><script>ln('Discussion,자유토론');</script></a></li>
			<li><a href="/post/job"><script>ln('Jobs,구인구직');</script></a></li>
			<li><a href="/post/news"><script>ln('News,뉴스');</script></a></li>
			<li><a href="/post/drama"><script>ln('Drama,드라마');</script></a></li>
			<li><a href="/post/fhm"><script>ln('FHM,매거진');</script></a></li>
			<li><a href="/post/music"><script>ln('Music,뮤직');</script></a></li>
			<li>
				<div class="copyright">
					<div class="company">
						<a href="#">Sonub (c) 2013 ~ {{ 'now'|date("Y") }}</a>
					</div>
				</div>
			</li>
		</ul>
	</nav>
	</div>
</div>