{% if ko %}
<style>
    .layout > header .top .item .text {
        font-family: Gulim, "Malgun Gothic", AppleGothic;
    }
</style>
{% endif %}
<div class='top'>
	<div class='inner'>
		<table class='menu-table' width="100%" cellpadding="0" cellspacing="0">
			<tr>
				<td class="logo">
					<a href="/">
						<div class="item">
							<div class="sprite"></div>
						</div>
					</a>
				</td>

				<td class="ask">
					<a href="/post/ask">
						<div class="item">
							<div class="sprite"></div>
							<div class="text">
								{{ ko ? '질문답변' : 'Ask' }}
							</div>
						</div>
					</a>
				</td>

				<td class="knowledge">
					<a href="/post/knowledge">
						<div class="item knowledge">
							<div class="sprite"></div>
							<div class="text">
                                {{ ko ? '지식인' : 'Knowledge' }}
							</div>
						</div>
					</a>
				</td>

				<td class="discussion">
					<a href="/post/discussion">
						<div class="item">
							<div class="sprite"></div>
							<div class="text">
                                {{ ko ? '자유토론' : 'Discussion' }}
							</div>
						</div>
					</a>
				</td>

				<td class="market">
					<a href="/">
						<div class="item">
							<div class="sprite"></div>
							<div class="text">
                                {{ ko ? '쇼핑몰' : 'Market' }}
                            </div>
						</div>
					</a>
				</td>


				<td class="fhm">
					<a href="/fhm">
						<div class="item">
							<div class="sprite"></div>
							<div class="text">
                                {{ ko ? '매거진' : 'FHM' }}
							</div>
						</div>
					</a>
				</td>

				<td class="news">
					<a href="/news">
						<div class="item">
							<div class="sprite"></div>
							<div class="text">
                                {{ ko ? '뉴스' : 'News' }}
							</div>
						</div>
					</a>
				</td>

				<td class="music">
					<a href="/music">
						<div class="item">
							<div class="sprite"></div>
							<div class="text">
                                {{ ko ? '음악' : 'Music' }}
							</div>
						</div>
					</a>
				</td>

				<td class="job">
					<a href="/job">
						<div class="item">
							<div class="sprite"></div>
							<div class="text">
                                {{ ko ? '구인구직' : 'Jobs' }}
							</div>
						</div>
					</a>
				</td>

				<td class="login">
					{% if user_login %}
						<a href="/page/{{ user.username }}">
							<div class="item user page">
								<div class="sprite">
									{% if user_photo_src %}
										<img src="{{ user_photo_src }}">
									{% else %}
										<img src="/{{ dir_sub_theme }}/img/primary-photo.png">
									{% endif %}
								</div>
								<div class="text">
									{{ ko ? '개인정보' : 'My Page' }}
								</div>
							</div>
						</a>
					{% else %}
							<div class="item user signin">
								<div class="sprite"></div>
								<div class="text">
									{{ ko ? '회원가입' : 'Sign in' }}
								</div>
							</div>
					{% endif %}
				</td>
				<td class='more'>
					<div class="item more">
						<div class="sprite"></div>
						<div class="text">
                            {{ ko ? '메뉴' : 'More' }}
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>