{#
this uses 
data.sidebar_post_thumbnail.entity
and
data.sidebar_post_thumbnail.first_image_thumbnail
#}

{% set items = data.sidebar_post_thumbnail_mixed.items %}

<section class='list thumbnail-list mixed'>
	<div class='title {{ language }}'>
		<script>ln('New Items,최근 등록 아이템');</script>
		<div class='arrow-wrapper'>{# so the arrow can always be at the middle #}
			<div class='arrow down'></div>
		</div>
	</div>
	{% for i in items %}
	{% set thumbnail = i.images.item_image_thumbnail[0].url_thumbnail %}
	<a href='/mall/item/view?item_id={{ i.entity.id.value }}'>
		<div class='item clearfix' >
			{% if thumbnail %}
				{% set icon = 'photo.png' %}
				<div class='photo'><img src='{{ thumbnail }}'/></div>
			{% else %}
				{% set icon = 'audio.png' %}
			{% endif %}
			<div class='info {{ language }}'>
				<img src='/{{ dir_sub_theme }}/img/post/{{ icon }}'/>
				{{ i.entity.title.value }}
			</div>
		</div>
	</a>
	{% endfor %}
</section>
