{#
this uses 
data.sidebar_post_thumbnail.entity
and
data.sidebar_post_thumbnail.first_image_thumbnail
#}

{% set posts = data.sidebar_post_thumbnail %}
<section class='list thumbnail-list'>
	<div class='title {{ language }}'><script>ln('Popular Posts,최신 인기글');</script></div>
	{% for p in posts %}
	<a href='/post/{{ p.entity.config_id.entity.name.value  }}/{{ p.entity.id.value }}'>
		<div class='item clearfix' >
			<div class='photo'><img src='{{ p.first_image_thumbnail.url_thumbnail }}'/></div>
			<div class='info {{ language }}'>{{ p.entity.title.value }}</div>
		</div>
	</a>
	{% endfor %}
</section>