{% import dir_macro ~ '/html.html.twig' as html %}
{{ html.error(data) }}
<div class='form-wrapper login'>
    <div class='title'>{{ ko ? '로그인' : 'Sign in' }}</div>
    <form class='user-login-form member-form' method="post">
        <fieldset>
            <input type="hidden" name="mode" value="submit">
            {{ html.input({'type':'text','name':'username', 'id':'register-username', 'class':'username', 'value':'', 'label':'User ID', 'placeholder': ko ? '회원 아이디' : 'User ID'}) }}
            {{ html.input({'type':'password','name':'password', 'id':'register-password', 'class':'password', 'value':'', 'label':'Password', 'placeholder': ko ? '비밀번호' : 'Password' }) }}
            <div class='forgot-password-wrapper'><a class='forgot-password' href='#'>Forgot Password?</a></div>
            <div class='buttons'>
                <input type="submit" role="button" value="{{ ko ? '로그인' : 'Log In' }}">
                <a href='/member/register'>{{ ko ? '회원 가입' : 'Create an Account' }}</a>
            </div>
        </fieldset>
    </form>
</div>