{% set member = data.member %}
{% import dir_macro ~ '/html.html.twig' as html %}
{{ html.error(data) }}

{# if not data.error#}
	<form class='member-register-form member-form' method="post">
		{% include 'modules/mall/templates/mall.admin.commands.html.twig' %}
		<fieldset>
			<input type="hidden" name="mode" value="submit">
			<input type="hidden" name="fid" value="">			
			{% if member %}				
				<div class="row primary-photo">
					<label for="" class="caption">Primary Photo</label>
					<div class="text">
						<div class='primary-photo clearfix'>
							<div class='photo'>
								<input type='file' name='profile_photo' accept="image/*" onchange='jQuery(this).parent().parent().submit();'>
								{% if member.photo %}
									{% set url = member.photo.thumbnails['url_medium'] %}
								{% else %}
									{% set url = "/modules/mall/img/fake_upload_photo.png" %}
									{% set class = ' class=fake' %}
								{% endif %}
								<img{{ class }} src='{{ url}}'/>
								<span class='ajax-file-upload-progress-bar'>
									<span class='bar'></span>
									<span class='percent caption'></span>
								</span>
							</div>
						</div>
					</div>
				</div>
				{{ html.row({ 'class':'username update', 'value':member.name.value, 'label':'User ID'}) }}			
			{% else %}
				{{ html.input({'type':'text','name':'username', 'id':'register-username', 'class':'username', 'value': input.username , 'label':'User ID', 'placeholder':'User ID'}) }}
				{{ html.input({'type':'password','name':'password', 'id':'register-password', 'class':'password', 'value':'', 'label':'Password', 'placeholder':'Password'}) }}
				{{ html.input({'type':'password','name':'confirm_password', 'id':'register-confirm_password', 'class':'confirm_password', 'value':'', 'label':'Confirm Password', 'placeholder':'Confirm Password'}) }}
			{% endif %}

			{{ html.input({'type':'text','name':'full_name', 'id':'register-full_name', 'class':'full_name', 'value':input.full_name | default(member.extra.full_name), 'label':'Full Name', 'placeholder':'Full name'}) }}
			{{ html.input({'type':'email','name':'mail', 'id':'register-email', 'class':'email', 'value':input.mail | default(member.mail.value), 'label':'Email', 'placeholder':'Email'}) }}

			{{ html.input({'type':'text','name':'mobile', 'id':'register-mobile', 'class':'mobile', 'value':input.mobile | default(member.extra.mobile), 'label':'Mobile no.', 'placeholder':'eg. 09057896348'}) }}
			
			{{ html.input({'type':'text','name':'location', 'id':'register-location', 'class':'location', 'value':input.location | default(member.extra.location), 'label':'Location', 'placeholder':'Location'}) }}
			
			<div class='row data-set birth-date'>
				<label class='caption'>Birthdate</label>
				<div class='text clearfix'>
					{{ html.select_month({'name':'month', 'label':'', 'default': member.extra.month }) }}
					{{ html.select_number({'name':'day', 'from':1, 'to':31, 'label':'', 'default':member.extra.day}) }}
					{{ html.select_number({'name':'year', 'from':2008, 'to':1950, 'label':'', 'default':member.extra.year}) }}
				</div>
			</div>

			{{
			html.radio('gender', 'Gender', [
			{'id':'generM', 'label': 'Male', 'value': 'M', 'default': member.extra.gender | default( input.gender ) },
			{'id':'generF', 'label': 'Female', 'value': 'F', 'default': member.extra.gender | default( input.gender ) }
			])
			}}

			{% if member %}
				{% set submit_text = "Update" %}
			{% else %}
				{% set submit_text = "Register" %}
			{% endif %}

			<div class='buttons clearfix'>
				<input type="submit" role="button" value="{{ submit_text }}">
				<a class='cancel' href="/" role="button">Cancel</a>
			</div>
		</fieldset>
	</form>
{# endif #}