{% set items = todays_pick.items%}

<div class='todays-pick clearfix'>
	<div class='title'>
		<span>Todays</span>
		<span>Picks</span>
	</div>
	<section class='grid top clearfix'>
		<div class='a'>
			{% if items[0] %}
				{% set i =  items[0] %}
				{% set item = i.entity %}
				{% set images = i.images %}
				{% set price = i.rendered_price %}
				<div class='item-wrapper clearfix'>
					<a href='/mall/item/view?item_id={{ item.id.value }}'>			
						<div class='item'>					
							<div class='photo'>
							{% if images.item_image_thumbnail[0] %}
								{% set url_thumb = images.item_image_thumbnail[0].url_large %}
							{% else %}
								{% set url_thumb = '/themes/x8/templates/mall/img/mall-no-image.png' %}
							{% endif %}
								<img src='{{ url_thumb }}'/>					
							</div>
							<div class='info-wrapper'></div>
							<div class='info circle-type'>
								<div class='title'><span class='fake'>&nbsp;</span>{{ item.title.value }}</div>
								<div class='price'>{{ price }}</div>
							</div>	
						</div>
					</a>
				</div>
			{% endif %}
		</div>
		<div class='b clearfix'>
			<div class='item-wrapper clearfix'>
			{% for num in 1..4 %}
				{% if items[num] %}
					{% set i =  items[num] %}
					{% set item = i.entity %}
					{% set images = i.images %}
					{% set price = i.rendered_price %}			
						<a href='/mall/item/view?item_id={{ item.id.value }}'>					
							<div class='item'>
								<div class='inner'>
									<div class='photo'>
									{% if images.item_image_thumbnail[0] %}
										{% set url_thumb = images.item_image_thumbnail[0].url_large %}
									{% else %}
										{% set url_thumb = '/themes/x8/templates/mall/img/mall-no-image.png' %}
									{% endif %}
										<img src='{{ url_thumb }}'/>					
										<div class='info arrow-type-info-1'>
											<div class='title'><span class='text'>{{ item.title.value }}</span><div class='arrow-right one'></div></div><br>
											<div class='price'>{{ price }}<div class='arrow-right three'></div></div>
										</div>
									</div>						
								</div>
							</div>
						</a>
				{% endif %}
			{% endfor %}
			</div>
		</div>
	</section>
	
	<section class='grid bottom clearfix'>
		<div class='a'>			
			<div class='item-wrapper clearfix'>
				{% for num in 5..6 %}
					{% if items[num] %}
						{% set i =  items[num] %}
						{% set item = i.entity %}
						{% set images = i.images %}
						{% set price = i.rendered_price %}				
							<a href='/mall/item/view?item_id={{ item.id.value }}'>					
								<div class='item'>
									<div class='inner'>
										<div class='photo'>
										{% if images.item_image_thumbnail[0] %}
											{% set url_thumb = images.item_image_thumbnail[0].url_large %}
										{% else %}
											{% set url_thumb = '/themes/x8/templates/mall/img/mall-no-image.png' %}
										{% endif %}
											<img src='{{ url_thumb }}'/>					
											<div class='info arrow-type-info-1'>
												<div class='title'><span class='text'>{{ item.title.value }}</span><div class='arrow-right one'></div></div><br>
												<div class='price'>{{ price }}<div class='arrow-right three'></div></div>
											</div>
										</div>						
									</div>
								</div>
							</a>
					{% endif %}
			{% endfor %}
			</div>
		</div>
		<div class='b'>			
			{% if items[7] %}
				{% set i =  items[7] %}
				{% set item = i.entity %}
				{% set images = i.images %}
				{% set price = i.rendered_price %}
				<div class='item-wrapper clearfix'>				
					<a href='/mall/item/view?item_id={{ item.id.value }}'>					
						<div class='item'>						
							<div class='photo'>
								<img class='fake 'src='/{{ dir_sub_theme }}/img/todays_pick_fake_lower_right.png'/>
								{% if images.item_image_thumbnail[0] %}
									{% set url_thumb = images.item_image_thumbnail[0].url_large %}
								{% else %}
									{% set url_thumb = '/themes/x8/templates/mall/img/mall-no-image.png' %}
								{% endif %}
								<img src='{{ url_thumb }}'/>
								<div class='info circle-type'>
									<div class='title'>{{ item.title.value }}<span class='fake'>&nbsp;</span></div>
									<div class='price'>{{ price }}</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			{% endif %}
		</div>
	</section>
</div>