{% set items = mall_top.items %}
{% set total_items = items | length %}
<div class='top-items banner'>	
	<div class='inner'>
		{% if ( items | length ) > 2 %}
		<div class='page fake clearfix'>
			{% if items|length is even %}
				{% set start = total_items - 2 %}
				{% set end = total_items - 1 %}
			{% else %}
				{% set start = total_items - 1 %}
				{% set end = total_items - 1 %}
			{% endif %}
			{% for i in start..end %}
				{% set item = items[i].entity %}
				{% set images = items[i].images %}
				{% set price = items[i].rendered_price %}				
				<a href='/mall/item/view?item_id={{ item.id.value }}'>
					<div class='item fake clearfix'>						
						<div class='photo'>
						<img class='fake 'src='/{{ dir_sub_theme }}/img/mall_top_fake.png'/>
						{% if images.item_image_thumbnail[0] %}
							{% set url_thumb = images.item_image_thumbnail[0].url_large %}
						{% else %}
							{% set url_thumb = '/{{ dir_sub_theme }}/img/mall-no-image.png' %}
						{% endif %}
							<img src='{{ url_thumb }}'/>												
						</div>
						<div class='info'>
							<div class='title'>{{ item.title.value }}</div>
							<div class='price'>{{ price }}</div>
							<div class='category-label'>
								<img src='/{{ dir_sub_theme }}/img/left/{{ items[i].category_root.name.value | lower }}.png'/>
							</div>
						</div>						
					</div>
				</a>
			{% endfor %}
		</div>
		{% endif %}
		{% set page_count = 1 %}
		{% for i in items %}
			{% set item = i.entity %}
			{% set images = i.images %}
			{% set price = i.rendered_price %}
			{% if loop.index is odd %}
				<div class='page clearfix' page='{{ page_count }}'>
			{% endif %}
			<a href='/mall/item/view?item_id={{ item.id.value }}' {{ loop.index }} {{ ( items|length ) }}>
				<div class='item clearfix' page='{{ loop.index }}'>					
					<div class='photo'>
					<img class='fake 'src='/{{ dir_sub_theme }}/img/mall_top_fake.png'/>
					{% if images.item_image_thumbnail[0] %}
						{% set url_thumb = images.item_image_thumbnail[0].url_large %}
					{% else %}
						{% set url_thumb = '/{{ dir_sub_theme }}/img/mall-no-image.png' %}
					{% endif %}
						<img src='{{ url_thumb }}'/>												
					</div>
					<div class='info'>
						<div class='title'>{{ item.title.value }}</div>						
						<div class='price'>{{ price }}</div>
						<div class='category-label'>
							<img src='/{{ dir_sub_theme }}/img/left/{{ i.category_root.name.value | lower }}.png'/>
						</div>
					</div>						
				</div>
			</a>
			
			{% if loop.index is even or loop.index  == ( items|length )%}
				</div loop.index>
				{% set page_count = page_count + 1 %}
			{% endif %}
		{% endfor %}

		{% if ( items | length ) > 2 %}	
		<div class='page fake clearfix'>
			{% for i in 0..1%}
				{% set item = items[i].entity %}
				{% set images = items[i].images %}
				{% set price = items[i].rendered_price %}
				<a href='/mall/item/view?item_id={{ item.id.value }}'>
					<div class='item fake clearfix'>						
						<div class='photo'>
						<img class='fake 'src='/{{ dir_sub_theme }}/img/mall_top_fake.png'/>
						{% if images.item_image_thumbnail[0] %}
							{% set url_thumb = images.item_image_thumbnail[0].url_large %}
						{% else %}
							{% set url_thumb = '/{{ dir_sub_theme }}/img/mall-no-image.png' %}
						{% endif %}
							<img src='{{ url_thumb }}'/>												
						</div>
						<div class='info'>
							<div class='title'>{{ item.title.value }}</div>
							<div class='price'>{{ price }}</div>
							<div class='category-label'>
								<img src='/{{ dir_sub_theme }}/img/left/{{ items[i].category_root.name.value | lower }}.png'/>
							</div>
						</div>						
					</div>
				</a>
			{% endfor %}
		{% endif %}
		</div>
		
		<img class='fake 'src='/themes/withcenter/templates/mall_sonub/img/top_fake.png'/>
		<div class='arrow left'><img src='/{{ dir_sub_theme }}/img/top_arrow_left.png'/></div>
		<div class='arrow right'><img src='/{{ dir_sub_theme }}/img/top_arrow_right.png'/></div>
	</div>
</div>