{% macro display_post_latest(title, config_name, posts) %}
    <div class="post-group">
        <div class="caption">
            <a class="left" href='/post/{{ config_name }}'>{{ title }}</a>
            <a class="right" href="/post/{{ config_name }}">더보기</a>
        </div>
        <hr>
        {% for post in posts %}
            <div class='row post' pid="{{ post.id.value }}">
                <a href="/post/view/{{ post.id.value }}">
                    <span class="title">{{ post.label }}</span>
                        <span class="date">
                            {% if 'now' | date ('Ymd') == post.created.value | date('Ymd') %}
                                {{ post.created.value | date('H:i') }}
                            {% else %}
                                {{ post.created.value | date('m/d') }}
                            {% endif %}
                        </span>
                </a>
            </div>
        {% endfor %}
    </div>
{% endmacro %}